.row
	.small-12.columns
		%h5
			%a{ href: '/' }
				%img{ src: '/assets/groundswell_logo.png', width: 40, valign: :middle }
				Groundswell Enterprises


		%a{ href: '/about' }
			%i.icon-question-sign{ style: 'font-size:120%;color:#83EBFB;'}
			About

		%a{ href: '/contact' }
			%i.icon-envelope-alt{ style: 'font-size:120%;color:#83EBFB;'}
			Contact
