.row
	.small-8.columns
		%h2
			%a{ href: '/', style:'color:#002b7f;' }
				%img{ src: '/assets/groundswell_logo.png', width: 45, valign: :middle }
				Groundswell Enterprises
	.small-4.columns{ style: 'margin-top:18px;'}
		%a{ href: '/about', style:'color:#002b7f;' }
			%i.icon-question-sign{ style: 'font-size:120%;'}
			About

		%a{ href: '/contact', style: 'margin-left:18px;color:#002b7f;' }
			%i.icon-envelope-alt{ style: 'font-size:120%;'}
			Contact
