.row
	.small-8.columns
		%h3
			%a{ href: '/' }
				%img{ src: '/assets/groundswell_logo.png', width: 40, valign: :middle }
				Groundswell Enterprises
	.small-4.columns{ style: 'margin-top:12px;'}
		%a{ href: '/about' }
			%i.icon-question-sign{ style: 'font-size:120%;'}
			About

		%a{ href: '/contact', style: 'margin-left:12px;' }
			%i.icon-envelope-alt{ style: 'font-size:120%;'}
			Contact
