.sticky.contain-to-grid
	%nav.top-bar
		%ul.title-area
			%li.name
				%h1
					%a{ href: '/' }
						%img{ src: '/assets/bg_inv.gif', width: 40, valign: :middle }
						BeGoaled
			%li.toggle-topbar.menu-icon
				%a{ href: '#' }
					%span Menu
		%section.top-bar-section
			%ul.left
				%li.divider
				%li
					%a{ href: '/about-begoaled' }
						%i.icon-question-sign{ style: 'font-size:120%;color:#83EBFB;'}
						About
				%li
					%a{ href: '/contact' }
						%i.icon-envelope-alt{ style: 'font-size:120%;color:#83EBFB;'}
						Contact
			%ul.right
				%li
					%a{ href: 'http://facebook.com/begoaled' }
						%i.icon-facebook{ style: 'font-size:120%;color:#83EBFB;'}
						Facebook
				%li
					%a{ href: 'http://twitter.com/begoaled' }
						%i.icon-twitter{ style: 'font-size:120%;color:#83EBFB;'}
						Twitter