

%h2
	Our Services

.row
	.large-6.small-12.columns
		.panel.radius
			%h3 Product Development
			%li Web Development
			%li Mobile

	.large-6.small-12.columns
		.panel.radius
			%h3 Product Consulting
			%li Strategy
			%li Branding


%h2
	Our Products

.row
	.large-6.small-12.columns
		.panel.radius
			%img{ src: '/assets/affabl-logo.png', width: 150 }

	.large-6.small-12.columns
		.panel.radius
			%img{ src: '/assets/cherrytree-logo.png', width: 150 }

