
.row
	.small-12.columns
		%h4
			Our Services:

.row
	.large-6.small-12.columns
		.panel.radius
			%h5 Web Development
			%li Ruby and Rails
			%li Postgres and MySQL
			%li Javascript

	.large-6.small-12.columns
		.panel.radius
			%h5 Mobile Development
			%li Corona
			%li iOS
			%li Android
.row
	.large-6.small-12.columns
		.panel.radius
			%h5 Product Consulting
			%li Strategy
			%li Branding
			%li Customer Development

	.large-6.small-12.columns
		.panel.radius
			%h5 Groundswell Academy
			%li Technology (web and mobile development) for non-technical folks
			%li Product Management (web and software)
			%li Startup and Bootstrapped Business management


%h4
	Our Products

.row
	.large-6.small-12.columns
		.panel.radius
			.row
				.large-4.small-12.columns
					%img{ src: '/assets/affabl-logo.png', style: 'width:150px;' }
				.large-8.small-12.columns
					Affabl is a fully hosted web marketing, publishing, community, and e-commerce platform specifically designed for artists.

	.large-6.small-12.columns
		.panel.radius
			.row
				.large-4.small-12.columns
					%img{ src: '/assets/cherrytree-logo.png', style: 'width:150px;' }
				.large-8.small-12.columns
					The CherryTree is a children's behavior app.

