
.row
	.large-10.small-12.columns.small-centered
		.panel.radius
			%article.media[@media]
				- if @media.is_title_visible?
					%header
						%hgroup
							%h2.media-title
								= @media.title
							- if @media.subtitle.present?
								%h4.media-subtitle
									= @media.subtitle
				.media-content
					= raw @media.content

